
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Base page
        {% endblock %}

    </title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/titan.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mediaquery.css') }}" rel="stylesheet">
    
</head>

<body>
   <nav class="navbar navbar-expand-md font-monospace" style="background-color: #333;">
    <div class="container-fluid">
        <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon rounded"></span>
        </button>

        <a class="navbar-brand text-success d-lg-none d-sm-none" href="#">PrimalTitan</a>

        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav">
            <a class="navbar-brand text-success " href="#">PrimalTitan</a>

            <li class="nav-item">
              <a class="nav-link " href="{{url_for('Author')}}">
                Author
                </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('projectforlio')}}">
                Projects
                </a>
            </li>
          </ul>
        </div>
      </div>
   </nav>

   <main>
      {% block content %}

      
      
      {% endblock %}

      <footer>
          
      </footer>
   </main>

   <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{url_for('static', filename='javascript/titan.js')}}"></script>
  </body>
</html>