
/* navbar css */
.nav-item{
    padding-left: 5%;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: antiquewhite;
    text-decoration: underline white;
}

.cust-css-2{
    background-color: #dfcfcfdc;
}
.text-cust-color{
    color: #dfdddd;
}
.cust-bg-1{
    background: #333;
   
}
.cust-bg-2{
    background: linear-gradient(to bottom, #33333350, transparent);
}
.text-decor h2{
    text-decoration: 2px black overline;
}
.height{
    height: 15vh;
}
.list-height ul li{
    height: 10vh;
}
.chat-us{
    z-index: 5;
    position: fixed;
    bottom: 5vh;
    right: 6%;
    cursor: pointer;
    color: #008000;
}

#fix5{
    height: 100vh;
}