
/* navbar css */

.nav-link{
    border: 1px solid none;
    border-radius: 10px;
}
.nav-item a{
    color: whitesmoke;
}
.nav-item{
    padding-left: 5%;
}
.nav-link:hover {
    text-decoration: underline;
    color: white;
}

.cust-css-2{
    background-color: #dfcfcfdc;
}
.text-cust-color{
    color: #dfdddd;
}
.cust-bg-1{
    background: #333;
   
}
.cust-bg-2{
    background: linear-gradient(to bottom, #33333350, transparent);
}
.text-decor h2{
    text-decoration: 2px black overline;
}
.height{
    height: 15vh;
}
.list-height ul li{
    height: 10vh;
}
.chat-us{
    z-index: 5;
    position: fixed;
    bottom: 5vh;
    right: 5%;
    /* box-shadow: 0 0 10px 0 whitesmoke; */
    cursor: pointer;
    color: #008000;
}

